HTTP_ADDR=your_http_addr
HTTP_SHUTDOWN_TIMEOUT=your_http_shutdown_timeout

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=your_postgres_host
POSTGRES_PORT=your_postgres_port
POSTGRES_DB=your_postgres_db
POSTGRES_TIMEOUT=your_postgres_timeout

REDIS_PASSWORD=your_redis_password
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_DB=your_redis_db
REDIS_POOL_SIZE=your_redis_pool_size
REDIS_MIN_IDLE_CONNS=your_redis_min_idle_conns
REDIS_TIMEOUT=your_redis_timeout

S3_REGION=your_s3_region
S3_BUCKET=your_s3_bucket
S3_ENDPOINT=your_s3_endpoint
S3_ACCESS_KEY_ID=your_s3_access_key_id
S3_SECRET_ACCESS_KEY=your_s3_secret_access_key
S3_SESSION_TOKEN=your_s3_session_token
S3_TIMEOUT=your_s3_timeout

SECRET_KEY_JWT=your_jwt_secret_key
SECRET_KEY_UPLOAD=your_upload_secret_key

IPINFO_TOKEN=your_ipinfo_token
IPINFO_CACHE_TTL=your_ipinfo_cache_ttl
IPINFO_TIMEOUT=your_ipinfo_timeout
IPINFO_BASEURL=your_ipinfo_base_url

LOGGER_LEVEL=your_logger_level
LOGGER_FOLDER=your_logger_folder

CORE_TIME_ZONE=your_core_time_zone
CORE_CONNECTION=your_core_connection
CORE_ENV_MODE=your_core_env_mode
CORE_ALLOWED_ORIGINS=your_http_allowed_origins
