HTTP_ADDR=your_http_addr
HTTP_SHUTDOWN_TIMEOUT=your_http_shutdown_timeout
HTTP_ALLOWED_ORIGINS=your_http_allowed_origins

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=your_postgres_host
POSTGRES_PORT=your_postgres_port
POSTGRES_DB=your_postgres_db
POSTGRES_TIMEOUT=your_postgres_timeout

REDIS_PASSWORD=your_redis_password
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_DB=your_redis_db
REDIS_POOL_SIZE=your_redis_pool_size
REDIS_MIN_IDLE_CONNS=your_redis_min_idle_conns
REDIS_TIMEOUT=your_redis_timeout

S3_REGION=your_s3_region
S3_ENDPOINT=your_s3_endpoint
S3_BUCKET_NAME=your_s3_bucket_name
S3_ACCESS_KEY_ID=your_s3_access_key_id
S3_SECRET_ACCESS_KEY=your_s3_secret_access_key

JWT_SECRET_KEY=your_jwt_secret_key
UPLOAD_SECRET_KEY=your_upload_secret_key

LOGGER_LEVEL=your_logger_level
LOGGER_FOLDER=your_logger_folder

CORE_TIME_ZONE=your_core_time_zone
CORE_CONNECTION=your_core_connection
